In [1]:
### scrape number one
### NASA Mars News
# import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\joeln\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [3]:
# connect to redplanetscience.com
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
 # set timer
time.sleep(1)

In [5]:
# scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [6]:
# collect latest News Title
news_title = soup.find_all(class_='content_title')[0].text
print(news_title)

NASA-JPL Names 'Rolling Stones Rock' on Mars

In [7]:
# collect latest Paragragh Text
news_p = soup.find_all(class_='article_teaser_body')[0].text
print(news_p)

NASA's Mars InSight mission honored one of the biggest bands of all time at Pasadena concert.

In [8]:
# sort data into dictionary
costa_data = {
    "news_title": news_title,
    "news_p": news_p
}

In [9]:
### scrape number 2
### JPL Mars Space Images
# connect to spaceimagesmars.com
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [10]:
 # set timer
time.sleep(1)

In [11]:
# scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [12]:
# collect latest News Title
featured_image_url = soup.find_all('img')[0]["src"]
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [13]:
# sort data into dictionary
costa_data = {
    "featured_image_url": featured_image_url
}

In [14]:
### scrape number three
### Mars Facts
# import dependecies
import pandas as pd

In [15]:
# connect to galaxyfactsmars
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [16]:
 # set timer
time.sleep(1)

In [17]:
# search for tables on url
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
type(tables)

list

In [19]:
# index the tables
df = tables[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [20]:
# drop unnecessary columns
df = df.drop(df.columns[[0, 2]], axis=1)
df.head()

                 1
0             Mars
1         6,779 km
2  6.39 × 10^23 kg
3                2
4   227,943,824 km

In [21]:
# convert data to html string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
### scrape number four
### Mars Hemispheres
# connect to marshemispheres
url = "https://marshemispheres.com/"
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
marshemispheres = soup.find_all("div", {"class":"item"})

In [39]:
# for loop for images
hemisphere = []
for x in marshemispheres:
    ref = url + x.find("a", {"class": "itemLink"})["href"]
    browser.visit(ref)
    time.sleep(1)
    
    html = browser.html
    soup = bs(html, "html.parser")
    
    img_url = url + soup.find("img", {"class", "wide-image"})["src"]
    title = soup.find("h2", {"class", "title"}).text
    
    images_title = {title:img_url}
    
    hemisphere.append(images_title)

In [40]:
hemisphere

[{'Cerberus Hemisphere Enhanced': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Schiaparelli Hemisphere Enhanced': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Syrtis Major Hemisphere Enhanced': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Valles Marineris Hemisphere Enhanced': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [41]:
browser.quit()